<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="apk2.My.MySettings.ConnectionString" connectionString="TNS_ADMIN=C:\Users\User\Oracle\network\admin;USER ID=DBSUCIO;PASSWORD=admin;DATA SOURCE=LAPTOP-7JCGTHCO:1521/XE"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>